@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Bebas+Neue&family=Bungee+Shade&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monofett&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;

}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    position: relative;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.heading {
    height: 15vh;
    background: linear-gradient(to right, rgb(248, 13, 248), rgb(84, 18, 84));
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 80px;
    font-family: "bebas neue";
    border: 3px solid black;
    box-sizing: border-box;
}

.box {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "bebas neue";

}

.box:hover {
    background-color: #aa66a6;
    cursor: pointer;
}

.upperBorder {
    border-top: none;
}

.lowerBorder {
    border-bottom: none;
}

.leftBorder {
    border-left: none;
}

.rightBorder {
    border-right: none;
}

.prompt {
    margin-left: 160px;
    width: 400px;
    height: 40vh;
    border: 2px solid black;
    position: relative;
}

#descision {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 50px;
    font-weight: 500;
    font-family: "baloo bhai 2";
}

#coPilot {
    height: 10vh;
    font-family: "baloo bhai 2";
    font-size: 30px;
    margin-left: 20px;
}

#b1 {
    position: relative;
    /* bottom: 4vh; */
    right: -3vw;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(248, 13, 248), rgb(84, 18, 84));
    box-shadow: 4px 4px 10px grey;
    font-family: "baloo bhai 2";
    font-size: 30px;
    font-weight: 450;
    cursor: pointer;
    padding-left: 10px;
}

#line {
    width: 0px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 0;
    transition: width 1.5s ease-in-out;

}